
.container-fluid
  .navbar
    .navbar-inner
      %a.brand{:href => "#"} Debutante
      .container
  .hero-unit
    %h1 Debutante
    %p A weekly popularity contest on GitHub
    %p
      %a.btn.btn-primary.btn-large{:href => "http://divshot.com/preview/heIHBTgHf92ntjz2Gn4GZ4ZdkWo"}
        Sign in with
        your GitHub account