.row
  .span12
    .hero-unit
      %h1 Debutante
      %p A weekly popularity contest on GitHub
      %p
        %a.btn.btn-primary.btn-large{:href => "/auth/github"}
          Sign in with
          your GitHub account
