%h1 Project List
= link_to("Submit a project", available_projects_path)
- if @projects.empty?
  %p No projects have been submitted this week.
- else
  %ul
    - @projects.each do |project|
      %li
        = project.title
        %ul
          %li= project.short_description
        
      
