// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
//@import 'bootstrap-responsive';

.navbar-inner {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.project-list {
  list-style: none
}

.vote-count {
  font-size: 28px;
  display: inline;
}

.project-row {
  a {
    display: inline;
  }
}

.project-title {
  display: inline;
  margin-left: 10px;
  font-size: 18px;
  vertical-align: middle;
}
